/* Form.css */
.logo {
  width: 300px; /* Ajusta este valor al tamaño que prefieras */
  /* Si también quieres ajustar el alto, puedes usar la propiedad height */
  /* height: 100px; */
  padding-bottom: 30px;
}
.form {
  margin-top: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

/* Ajustar el tamaño de las imágenes del carrusel */
.custom-carousel img {
  height: 300px; /* Ajusta este valor según tus necesidades */
  object-fit: cover; /* Asegura que las imágenes mantengan sus proporciones */
  width: 100%; /* Mantén el ancho completo */
}
.form, .input, .submit, .div {
  position: relative;
  z-index: 1;  
}

.form-padding {
  padding-top: 35px;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #0e0d0de7;
  border-radius: 4px;
}

.submit {
  width: 100%;
  padding: 5px 5px 5px 5px;
  border: none;
  border-radius: 4px;
  background-color: #080808;
  color: rgba(129, 19, 83, 0.815);
  cursor: pointer;
}

.div {
  padding-top: 15px;
  color: rgb(87, 3, 55);
}

.submit:hover {
  background-color: #252525;
}

.submit:active {
  background-color: #080808;
}
.label {
  padding-bottom: 10px;
  color: rgb(126, 11, 101);
}
.error-message {
  color: red;
  font-weight: bold;
}
